global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 256

defaults
    log global
    mode http
    option httplog
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend lb_1_front
    bind *:80
    default_backend lb_1_back

backend lb_1_back
    balance roundrobin
    option tcp-check
    server server_1 192.168.1.7:8084 check inter 3s fall 2 rise 2
    server server_3 192.168.1.9:8084 check inter 3s fall 2 rise 2

